<a
  class="flex flex-col shadow-sm rounded-xl hover:shadow-lg transition border border-ctp-surface0/30 bg-ctp-surface1/30 p-2"
  href="#"
>
  <img
    class="border-ctp-surface0/30 border w-full h-auto rounded-xl p-1"
    src="<%= image %>"
    alt="<%= alt %>"
  />
  <div class="p-4 md:p-5">
    <h3 class="text-2xl font-bold text-ctp-text font-calsans"><%= title %></h3>
    <p class="mt-1 font-semibold text-ctp-text/85 font-sans">
      <%= description %>
    </p>
  </div>
</a>
