<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ambrosia | Management Made Simple.</title>
<link rel="stylesheet" href="assets/css/tailwind.css">
<script src="./node_modules/preline/dist/preline.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<meta content="Ambrosia" property="og:title" />
<meta content="Ambrosia is a multiperpose Status Monitor" property="og:description" />
<meta content="https://<%=process.env.fqdn%>" property="og:url" />
<meta content="#43B581" data-react-helmet="true" name="theme-color" />
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"/>