<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ambrosia | Deploying Made Simple.</title>
<link rel="stylesheet" href="/assets/css/tailwind.css">
<script src="/node_modules/preline/dist/preline.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"/>
<script
  src="https://js-de.sentry-cdn.com/2f0aae79537a6b41f3e0ceb5eb82a6ce.min.js"
  crossorigin="anonymous"
></script>